.form {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 70px;
}

.submit-button {
    width: 100px;
    padding: 4px 0;
    text-align: center;
    float: right;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #009af7;
    font-weight: bold;
    outline-color: none;
}

.submit-button:hover {
    background-color: #009af7;
    color: #fff;
    cursor: pointer;
}

.submit-button:focus {
    outline: none;
}

.preview {
    display: block;
    max-width: 80%;

    max-height: 100px;
    margin-left: 10%;
    margin-top: 50px;
    overflow-y: scroll;
    word-wrap: break-word;
}