.delEd {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    width: 60px;
    text-align: center;
}

.delEd:hover {
    border-bottom: 2px solid blue;
}

.link {
    text-decoration: none !important;
    color: #000 !important;
    cursor: pointer;
}