.navigation {
  width: 100%;
  background-color: #f3f3f3;
}

.nav-el {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #009af7;
  text-align: center;
  padding-top: 1.5px;
  margin: 5px 10px;
}

.nav-el:hover,
.nav-el:active {
  cursor: pointer;
  background-color: #009af7;
}

.link {
    text-decoration: none !important;
    color: #000;
}